ENUMERATE

In [2]:
employee_names = ["Paul", "John", "Abbie", "Charlotte", "Ron"]

for ind, name in enumerate(employee_names, 1):   #unpacking
    print(ind, name)

1 Paul
2 John
3 Abbie
4 Charlotte
5 Ron

In [11]:
employee_names = ["Paul", "John", "Abbie", "Charlotte", "Ron"]

for ind in range(len(employee_names)):    # using range instead of enummerate to compare both. enumerate gives cleaner code
    print(ind+1, end =' ' )
    print(employee_names[ind])

1 Paul
2 John
3 Abbie
4 Charlotte
5 Ron

In [13]:
for item in enumerate(employee_names):   #By default, enumerate() returns a list of tuples
    print(item)

(0, 'Paul')
(1, 'John')
(2, 'Abbie')
(3, 'Charlotte')
(4, 'Ron')

sorted() vs sort()

In [17]:
employee_names.sort()     #works only with list
print(employee_names)

['Abbie', 'Charlotte', 'John', 'Paul', 'Ron']

In [24]:
sorted('Python Programming', reverse=True)    #sorted works with any sequence

['y',
 't',
 'r',
 'r',
 'o',
 'o',
 'n',
 'n',
 'm',
 'm',
 'i',
 'h',
 'g',
 'g',
 'a',
 'P',
 'P',
 ' ']

zip()

In [29]:
a = ("John", "Charles", "Mike")
b = ("Jenny", "Christy", "Monica", "Vicky")

x = zip(a, b)
print(x)
print(type(x))   #zip object is iterator of tuples
#use the tuple() function to display a readable version of the result:

print(tuple(x))

<zip object at 0x000002906EAD2E48>
<class 'zip'>
(('John', 'Jenny'), ('Charles', 'Christy'), ('Mike', 'Monica'))

In [4]:
# Python code to demonstrate the working of zip()
  
# initializing lists
name = [ "Student 1", "Student 2", "Student 3", "Student 4" ]
roll_no = [ 4, 1, 3, 2 ]
marks = [ 40, 50, 60, 70 ]
  
# using zip() to map values
mapped = zip(name, roll_no, marks)
  
# converting values to print as set
mapped = set(mapped)
  
# printing resultant values 
print ("The zipped result is : ",end="")
print (mapped)
print (list(mapped))

mapped2 = zip(roll_no, marks)
print (list(mapped2))

The zipped result is : {('Student 4', 2, 70), ('Student 1', 4, 40), ('Student 2', 1, 50), ('Student 3', 3, 60)}
[('Student 4', 2, 70), ('Student 1', 4, 40), ('Student 2', 1, 50), ('Student 3', 3, 60)]
[(4, 40), (1, 50), (3, 60), (2, 70)]

In [34]:
#A very common use of zip is simultaneously iterating over multiple sequences, possibly also combined with enumerate

seq1 = ['foo', 'bar', 'baz']   
seq2 = ['one', 'two', 'three']
for i, (a, b) in enumerate(zip(seq1, seq2)):
    print('{0}: {1}, {2}'.format(i, a, b))

0: foo, one
1: bar, two
2: baz, three

UnZipping

In [36]:
pitchers = [('Nolan', 'Ryan'), ('Roger', 'Clemens'),('Schilling', 'Curt')]
first_names, last_names = zip(*pitchers)
print(first_names)

print(last_names)

('Nolan', 'Roger', 'Schilling')
('Ryan', 'Clemens', 'Curt')

In [37]:
coordinate = ['x', 'y', 'z']
value = [3, 4, 5]

result = zip(coordinate, value)
result_list = list(result)
print(result_list)

c, v =  zip(*result_list)
print('c =', c)
print('v =', v)

[('x', 3), ('y', 4), ('z', 5)]
c = ('x', 'y', 'z')
v = (3, 4, 5)

Sorting list with key len

In [42]:
a_list = ["apple", "banana", "pear"]

sorted_list = sorted(a_list, key=len)

print(sorted_list)

['pear', 'apple', 'banana']