In [4]:
import pandas as pd

In [6]:
from pandas import Series, DataFrame

In [8]:
pd1=pd.Series(['a','b','c','d'])

In [9]:
pd1

0    a
1    b
2    c
3    d
dtype: object

In [10]:
pd2=pd.Series([1,2,-5,3,0])

In [11]:
pd2

0    1
1    2
2   -5
3    3
4    0
dtype: int64

In [12]:
pd2.index

RangeIndex(start=0, stop=5, step=1)

In [13]:
pd2.values

array([ 1,  2, -5,  3,  0], dtype=int64)

In [62]:
import numpy as np
ex1=pd.Series(np.random.randn(5))
print(ex1)

0   -0.287881
1    0.761768
2    0.345708
3   -1.751942
4    0.179152
dtype: float64

In [15]:
pd3=pd.Series([2,3,6], index=['value1','value2','value3'])

In [16]:
pd3

value1    2
value2    3
value3    6
dtype: int64

In [17]:
pd3.index

Index(['value1', 'value2', 'value3'], dtype='object')

In [24]:
pd3[['value2','value1']]   #you can use labels in the index when selecting 
                            #single values or a set of values

value2    3
value1    2
dtype: int64

In [69]:
pd3[pd3<7]

value1    2
value2    3
value3    6
dtype: int64

In [28]:
pd3*2

value1     4
value2     6
value3    12
dtype: int64

In [29]:
pd1*3

0    aaa
1    bbb
2    ccc
3    ddd
dtype: object

Another way to think about a Series is as a fixed-length, ordered dict,
as it is a mapping of index values to data values.

In [64]:
pd3

value1    2
value2    3
value3    6
dtype: int64

In [63]:
2 in pd3 #searching index in series

False

In [65]:
'value1' in pd3

True

Creating series from python dictionary

In [36]:
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}

In [42]:
pdd=pd.Series(sdata)

In [43]:
pdd

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [44]:
#When you are only passing a dict, the index in the resulting Series 
#will have the dictâ€™s keys in sorted order. You can override this by 
#passing the dict keys in the order you want them to appear in the 
#resulting Series:

states = ['California', 'Ohio', 'Oregon', 'Texas']
obj4 = pd.Series(sdata, index=states)
obj4

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

In [45]:
pd.isnull(obj4)   #to check null values in series

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

In [46]:
pd.notnull(obj4)

California    False
Ohio           True
Oregon         True
Texas          True
dtype: bool

In [47]:
obj4.isnull()   #series also has isnull(). Here obj4 is a series.

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

In [48]:
obj4.notnull()

California    False
Ohio           True
Oregon         True
Texas          True
dtype: bool

A useful Series feature for many applications is that it automatically 
aligns by index label in arithmetic operations:
    This is similar to join opearation in databases.

In [50]:
pdd

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [51]:
obj4

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

In [52]:
pdd+obj4

California         NaN
Ohio           70000.0
Oregon         32000.0
Texas         142000.0
Utah               NaN
dtype: float64

Both the Series object itself and its index have a name attribute, which integrates with
other key areas of pandas functionality:

In [54]:
pd4.name='population'

In [55]:
pd4.index.name='states'

In [56]:
pd4

states
Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
Name: population, dtype: int64

A Seriesâ€™s index can be altered in-place by assignment:

In [58]:
pd1

0    a
1    b
2    c
3    d
dtype: object

In [60]:
pd1.index = ['Bob', 'Steve', 'Jeff', 'Ryan']
pd1

Bob      a
Steve    b
Jeff     c
Ryan     d
dtype: object